.navigation {
  background-color: #3F72AF;
}

.main-div {
  display: flex;
  padding: 2rem 3rem;
  background-color: #DBE2EF;
  gap: 2rem;
  overflow: auto;
}

.div1 {
  display: flex;
  flex-direction: column;
  background-color: #F9F7F7;
  border-radius: 2rem;
  overflow: auto;
  padding: 4rem;
}

.div2 {
  display: flex;
  justify-content: center;
  background-color: #3F72AF;
  border-radius: 2rem;
}

.signup-text {
  text-align: center;
}

.google-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.google {
  height: 1.5rem;
}

.right-img {
  height: 85vh;
}

.form-class {
  display: flex;
  flex-direction: column;
  padding: 1rem 4rem;
  gap: 0.5rem;
}

.text-div {
  text-align: center;
}

.line {
  display: inline-block;
  width: 10rem;
}

.or-text {
  display: inline-block;
}

.or-div {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn1 {
  width: 45%;
}

.btn-div {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

@media (max-width: 950px) {
  .main-div {
    display: flex;
    flex-direction: column;
  }

  .main-div {
    padding: 0rem;
  }

  .div1 {
    border-radius: 0rem;
  }

  .div2 {
    border-radius: 2rem 2rem 0rem 0rem;
  }
  
  .form-class {
    padding: 1.5rem;
  }

  .right-img {
    height: 50vh;
  }
}